*{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.nav{
  padding: 2em 2.5em;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h2{
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #222831;
}

.search {
  display: flex;
  align-items: center;
}

#search__bar{
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(158, 158, 158, 0.2);
  /* border-radius: 16px; */
  border-top-left-radius: 16px;
    border-top-right-radius: 16px; 
     border-bottom-right-radius: 16px; 
    border-bottom-left-radius: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #222831;
  padding: 1em;
  border: none;
  margin-right: -1em;
  outline: none;
}

.btn{
  background: #222831;
  border-radius: 16px;
  padding: .8em;
  border: none;
}

.degrees #black , #white{
  background: #222831;
  border-radius: 50px;
  color: #FFFFFF;
  padding: 1em;
  font-size: 16px;
  line-height: 24px;
  width: 48px;
  height: 48px;
}

#white{
  background-color: #FFFFFF;
  color: #222831;
  box-shadow: 4px 4px 20px rgba(158, 158, 158, 0.2);
  border-radius: 24px;
  margin-left: 1em;
}

.nofav{
  text-align: center;
  margin-top: 2em;
}

.nofav h6{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #C4C4C4;
}

.nofav h2{
  margin-top: 2em;
}

.çity__img{
  margin-right: .5em;
}

.top__cities{
  margin-top: 6em;
}

.weather{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
}

.weather a{
  text-decoration: none;
}

.weather__container{
  background: linear-gradient(154.6deg, #FFD6C9 2.33%, rgba(255, 255, 255, 0) 83.9%), #FFFFFF;
  box-shadow: 4px 4px 20px rgba(158, 158, 158, 0.2);
  border-radius: 16px;
  padding: 1em;
  margin: 1em;
}

.weather__container h1{
  font-size: 64px;
  line-height: 78px;
  color: #000000;
  font-weight: 400;
}

.weather__container p{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #222831;
}

.details{
  padding: 1em 2.5em;
}

.details h2{
  font-size: 36px;
  line-height: 44px;
  color: #222831;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.details h2 small{
  color: #F05454;
  font-size: 12px;
  font-weight: 600;
  margin-left: 1em;
}

.details__content{
  display: grid;
  grid-template-columns: 600px 1fr;
  margin-top: 1.3em;
  column-gap: 3em;
}

.details__container small{
  color: #9E9E9E;
  font-size: 14px;
}

.details__container__weather{
  display: grid;
  grid-template-columns: 250px 300px 0;
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(158, 158, 158, 0.2);
  border-radius: 16px;
  padding: 1em;
  margin-top: 1em;
}

.details__container__weather img{
  width: 80%;
  object-fit: fill;
}

.sunny__dets{
  margin-top: 3em;
}

.sunny__dets h4{
  font-size: 18px;
  line-height: 24px;
  /* text-transform: uppercase; */
  color: #222831;
  font-weight: 400;
}

.sunny__dets p{
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #222831;
  margin-top: 1em;
}

.Temperature__content img{
  width: 40px;
  height: 40px;
}

.notes input{
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 8px;
  border-top-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 8px;
  padding: 1em;
  outline: none;
  margin-top: 1.4em;
}

.each__elements{
  display: flex;
  margin-top: 3.4em;
}

.each__elements small{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9E9E9E;
}

.Temperature .Temperature__content{
  background: linear-gradient(154.6deg, #FFD6C9 2.33%, rgba(255, 255, 255, 0) 83.9%), #FFFFFF;
  box-shadow: 4px 4px 20px rgba(158, 158, 158, 0.2);
  border-radius: 16px;
}

.Temperature__content h1{
  line-height: 100px;
}

.wind, .Temperature{
  margin-right: 2.1em;
}

.wind__content , .Temperature__content{
  display: grid;
  padding: 1.4em;
  margin-top: 1em;
  grid-template-columns: 50px 150px 0;
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(158, 158, 158, 0.2);
  border-radius: 16px;
  align-items: center;
}

.wind__content p{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #222831;
  margin-top: .6em;
}

.pressure__h2 h2{
  font-size: 70px;
  line-height: 94px;
  color: #000000;
}

.close{
  border: none;
  background-color: transparent;
  position: absolute;
  margin-left: 16em;
  margin-top: 1em;
}

.note{
  display: flex;
  margin-top: 1em;
}

.note-row{
  width: 30%;
  height: 100px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: none;
  padding: 1em;
}

.icons {
  background: #fff;
  border: 1px solid #E5E5E5;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

svg.delete-icon {
  padding: 10px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  color: #222831;
  text-transform: capitalize;
  font-size: 25px;
}

svg.edit-icon {
  padding: 10px;
  color: #222831;
  font-size: 25px;

}

.submit__btn{
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #222831;
  color: #fff;
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  .details__content {
    display: grid;
    grid-template-columns: 450px 300px;
  }
  .notes input{
    width: 70%;
  }
}

@media screen and (max-width: 526px) {
  .degrees {
    display: none;
  }
  .nav {
    padding: 1.5em 1em;
  }
  .nav h2{
    font-size: 24px;
    line-height: 38px;
  }
  .container {
    justify-content: center;
    flex-direction: column; 
  }
  .weather {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 1em;
  }
  .details {
    padding: 1em 1em;
  }
  .details h2 {
    font-size: 20px;
    line-height: 34px;
    display: block;
  }
  .details h2 small {
    font-size: 10px;
  }
  .details__content {
    grid-template-columns: 1fr;
  }
  .details__container__weather {
    display: grid;
    grid-template-columns: 1fr;
  }
  .details__container__weather img {
    width: 100%;
  }
  .each__elements {
    display: flex;
    flex-direction: column;
    margin-top: 3.4em;
  }
  .notes {
    margin-top: 1.5em;
  }
  .note-row {
    width: 100%;
  }
  .notes input{
    width: 70%;
  }
  .wind, .Temperature {
    margin-right: 0;
    margin-top: 1em;
  }
}